---
apiVersion: v1
kind: Namespace
metadata:
  name: flipkart-ns
---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: flipkart-ns
  name: flipkart-app-deployment
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: flipkart-app
  replicas: 3
  template:
    metadata:
      labels:
        app.kubernetes.io/name: flipkart-app
    spec:
      containers:
        - name: flipkart-app-container
          image: 739275449845.dkr.ecr.us-east-1.amazonaws.com/flipkartimg:latest
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: "128Mi"
              cpu: "250m"
            limits:
              memory: "256Mi"
              cpu: "500m"

---
apiVersion: v1
kind: Service
metadata:
  namespace: flipkart-ns
  name: flipkart-app-service
spec:
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
  type: ClusterIP
  selector:
    app.kubernetes.io/name: flipkart-app

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  namespace: flipkart-ns
  name: flipkart-ingress
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/listen-ports: "[{\"HTTP\": 80}, {\"HTTPS\": 443}]"
    alb.ingress.kubernetes.io/certificate-arn: arn:aws:acm:us-east-1:739275449845:certificate/arn:aws:acm:us-east-1:739275449845:certificate/f5be8959-2f51-44b4-a827-6ca97cc45a98
    alb.ingress.kubernetes.io/ssl-redirect: "443"
spec:
  ingressClassName: alb
  rules:
    - host: flipstore.elsondevops.cloud
      http:
        paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: flipkart-app-service
              port:
                number: 80
